<h1>Editing Newsletter</h1>

<%= render 'form' %>

<%= link_to 'Show', @newsletter %> |
<%= link_to 'Back', newsletters_path %>

<script type="text/javascript">
  $('textarea').trumbowyg({
    resetCss: true,
    removeformatPasted: true,
    autogrow: true,
    btns: ['viewHTML', '|', 'formatting', 'bold', 'italic', '|', 'btnGrp-lists', '|', 'link', 'horizontalRule']
  });
</script>
