<h1>New Newsletter</h1>

<%= render 'form' %>

<%= link_to 'Back', newsletters_path, :class => "btn btn-secondary btn-small" %>

<script type="text/javascript">
  $('textarea').trumbowyg({
    resetCss: true,
    removeformatPasted: true,
    autogrow: true,
    semantic: true,
    btns: ['viewHTML', '|', 'formatting', 'bold', 'italic', '|', 'btnGrp-lists', '|', 'link', 'horizontalRule']
  });
</script>
