<% content_for :page_title do %>
  Help!
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What is this site?</h3>
  </div>
  <div class="panel-body">
    <p>This is a web application designed for <a href="http://naceda.org" target="_blank">NACEDA, the National Alliance of Community Economic Development Associations</a>, by <a href="http://katiemfritz.com" target="_blank">Katie Fritz</a>.</p>
    <p>It's meant to make it easy to create fancy HTML emails using predesigned templates.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I'm from NACEDA. What do I do?</h3>
  </div>
  <div class="panel-body">
    <ol>
      <li>Pick your template from the "Create a new email" menu above.</li>
      <li>Type or paste your content into the appropriate boxes.</li>
      <li>Click the save button. This stores your work in the URL.</li>
      <li>To come back later, bookmark the URL after you've saved.</li>
      <li>Once you're ready with your content, click the "preview and get code" button to see your email in action.</li>
      <li>If you need to make changes, go back to the form - make sure you use the same URL.</li>
      <li>When you're good to go, select the entire block of code from the preview page and copy it.</li>
      <li>Paste the code into MemberClicks and follow the rest of the <a href="https://naceda.memberclicks.net/sending-email" target="_blank">instructions for sending email</a>.</li>
    </ol>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What's with the long URLs?</h3>
  </div>
  <div class="panel-body">
    <p>This site uses something called URL parameters to save and submit information. All the information for your email gets saved in the URL in a very long string of characters. If you look closely, you'll see things like "naceda-news" and "date" and other form fields in the URL.</p>
    <p>Nothing gets saved to your computer or to any database, so <strong>it's very important to save your URL if you want to save your progress.</strong></p>
    <p>That's also why you have to click "save" before you can go to the preview page. Clicking Save updates the URL with the content you added.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What should I do if I have a problem?</h3>
  </div>
  <div class="panel-body">
    <p>Save your work (click save and copy the URL), then <a href="mailto:katie@katiemfritz.com">contact Katie</a>. Please include your URL in the email.</p>
    <p>If you just need a little tiny change, you might be able to make it in the code once you paste it into MemberClicks.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I'm not from NACEDA. Can I get a version of this?</h3>
  </div>
  <div class="panel-body">
    <p>Sure, I'd be happy to talk with you about adapting this app to your needs. Contact me at <a href="mailto:katie@katiemfritz.com">katie@katiemfritz.com</a>.</p>
    <p>If you're a developer, you can fork the code at <a href="https://github.com/KatieMFritz/naceda-email">https://github.com/KatieMFritz/naceda-email</a>.</p>
  </div>
</div>
