<div class="jumbotron">
  <h1 class="display-3">NACEDA Email Generator</h1>
  <p class="lead">
    <%= link_to 'Create a Newsletter',
      new_newsletter_path,
      :class => "btn btn-success btn-large"
    %>
    <%= link_to 'Read Instructions',
      help_path,
      :class => "btn btn-info btn-large"
    %>
  </p>
</div>
