<% content_for :page_title do %>
  NACEDA Email Generator
<% end %>

<div class="c-marquee">
  <p class="lead">
    <%= link_to 'Create a Newsletter',
      new_newsletter_path,
      :class => "c-button c-button--primary"
    %>
    <%= link_to 'Read Instructions',
      help_path,
      :class => "c-button c-button--primary"
    %>
  </p>
</div>
