<div class="jumbotron">
  <h1>NACEDA Email Generator</h1>
  <p>Pick an email template to get started.</p>
  <div class="btn-group btn-group-lg" role="group">
    <a href="/form/news" class="btn btn-default">Newsletter</a>
    <a href="/form/action-alert" class="btn btn-default">Action Alert</a>
    <a href="/form/people-places" class="btn btn-default">People & Places</a>
    <a href="/form/announcement" class="btn btn-default">Announcement</a>
  </div>
</div>
