<div class="jumbotron">
  <h1>NACEDA Email Generator</h1>
  <p>Pick an email template to get started.</p>
  <div class="btn-group btn-group-lg" role="group">
    <%= link_to 'New Newsletter', new_newsletter_path, :class => "btn btn-default" %>
    <%= link_to 'New Announcement', new_announcement_path, :class => "btn btn-default" %>
  </div>
</div>
