<footer class="c-footer">
  <div class="u-center-text">
    <p>Application developed by <a href="http://katiemfritz.com">Katie M Fritz, LLC</a>, 2016-2017. Email content belongs to <a href="http://naceda.org">NACEDA</a>.</p>
  </div>
</footer>
