/* Sticky footer styles
https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
-------------------------------------------------- */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.c-footer {
  background-color: $gray-light;
  margin-top: auto;
  padding: $space-inset-squish-xl;
}
