// Navbar

.c-nav {
  .c-nav__link {
    text-decoration: none;
  }
}

.c-nav--navbar {
  padding: $space-inset-m;
  .c-nav__item {
    display: inline-block;
    padding: $space-s $space-l $space-s 0;
  }
}

.c-nav--primary {
  background-color: $primary-nav-bg;
  .c-nav__link {
    color: $primary-nav-text;
    font-weight: bold;
    &:hover, &:focus {
      color: $primary-nav-text-hover;
    }
  }
}

