.u-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

pre {
  background-color:$gray-light;
  padding: $space-inset-s;
  font-size: .75 * $font-size-base;
}

#preview iframe {
  width: 100%;
  min-width: 600px;
  height: 800px;
}

#code textarea {
  width: 100%;
  // height: 100%;
  padding: $space-inset-default;
}

textarea[readonly] {
  background-color: $gray-light;
}

#url {
  width: 100%;
}
