@import 'variables';

body {
  color: $dark-gray !important;
  font-family: Tahoma, Arial, sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
li {
  line-height: 1.3 !important;
}

h2 {
  color: $blue !important;
  margin-bottom: 0 !important;
}

h4 {
  color: $dark-gray !important;
  margin-top: 20px !important;
}
