@import 'variables';

// Media Queries Breakpoints
$screen-lg: 1300px;

// Grid System
$grid-gutter-width: 30px;

// Container Sizes
$container-large-desktop: (1200px + $grid-gutter-width);

// Colors
$gray-base: $gray;
$gray-darker: $dark-gray;
$gray-dark: $dark-gray;
$gray-light: $light-gray;
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $yellow;
$brand-warning: red;
$brand-danger: red;

// Typography
$font-family-sans-serif: Tahoma, Arial, sans-serif;
$headings-font-weight: 700;
$font-size-base: 16px; //maybe?
$font-size-h2: 28px;

// Buttons
$btn-font-weight: bold;

// Navbar
$navbar-default-bg: $blue;
$navbar-default-link-color: white;
$navbar-default-link-active-color: $green;
$navbar-default-link-hover-color: $green;


/****************************
IMPORT BOOTSTRAP
*****************************/
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  font-weight: bold;
}

#preview iframe {
  width: 100%;
  min-width: 600px;
  height: 1000px;
}

#code textarea {
  width: 100%;
  height: 1000px;
}

.instructions {
  font-size: 1.2em;
  color: $brand-warning;
}

.panel, .alert {
  button, .btn {
    a, a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.btn span.glyphicon {
  margin: 0 5px;
}

#copy-code {
  font-size: 1.2em;
  height: 50px;
  padding: 0 30px;
  margin-bottom: 20px;
}

form {
  .column {
    textarea {
      min-width: 400px;
      vertical-align: top;
    }
    input[type="text"] {
      min-width: 300px;
    }
  }
}

.field {
  margin: 10px 0;
}

.trumbowyg-box,
.trumbowyg-editor {
  margin-left: 0px!important;
}

.panel-default > .panel-heading {
  background-color: $green;
  a:after {
    font-family:'Glyphicons Halflings';
    content:"\2212";
    float: right;
  }
  a.collapsed:after {
    //content:"\e080";
    content:"\2b";
  }
}

textarea[disabled] {
  background-color: $light-gray;
}

#url {
  width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $light-gray;
  margin-top: 20px;
  .container {
    padding: 20px;
    text-align: center;
  }
}

/*****************************
IMPORT VENDOR CSS
*********************************/
@import "trumbowyg/trumbowyg";
