$email-width: 600px;

$blue: #085694;
$dark-gray: #424143;
$gray: #bdbec0;
$green: #97ca41;
$light-gray: lighten($gray, 20%);
$white: #fff;
$yellow: #ebc31c;

$fb-color: #3b5998;
$twitter-color: #1daced;
$web-color: #97c940;

$padding: 20px;
$margin: 10px;
$border-radius: 5px;
